<!DOCTYPE html>
<html>
<head>
    <title>Update Page</title>
    <style>
        input[name]{margin-top: 7px;}
        input[value]{margin-top:5px;}
        form{box-shadow:0px 0px 10px blue; padding:5px; border-radius: 5%;}
    </style>
    {% include 'curdapp/cdnline.html' %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="offset-4 col-md-4">
                <h4 class="text-center mt-5"> Please Enter Your Updating Data</h4>
                <form method="POST" action="{% url 'updated' emp.id %}">
                    {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <label>First Name:</label>
                <input type="text" name="fname" class="form-control" value="{{emp.first_name}}">
            </div>
            <div class="col-md-6">                    
                <label>Last Name:</label>
                <input type="text" name="lname" class="form-control" value="{{emp.last_name}}">
            </div>
        </div>
                <!-- <label>Email Id:</label> -->
                <input type="email" name="email" class="form-control" placeholder="Email Id" value="{{emp.email}}">
                <!-- <label>MObile No:</label> -->
                <input type="number" name="mobile" class="form-control" placeholder="Mobile No" value="{{emp.mobile}}">
                <!-- <label>Company:</label> -->
                <input type="text" name="company" class="form-control" placeholder="Company Name" value="{{emp.company}}">
                <!-- <label>Enter Salary:</label> -->
                <input type="number" name="salary" class="form-control" placeholder="Salary" value="{{emp.salary}}">
                <!-- <label>Enter location</label> -->
                <input type="text" name="location" class="form-control" placeholder="Location" value="{{emp.location}}">
            <center>
                <input type="submit" value="Update" class="btn btn-success">
                <input type="reset" value="Cancel" class="btn btn-danger">
            </center>
            </form>           
            <a href="{% url 'result'%}" class="btn btn-warning offset-3 mt-2">Check Your Updated Data..</a>            
            </div>
        </div>
    </div>
</body>
</html>